.aboutHeader {
  position: relative;
  background-image: url("/Pages/AboutUs/about.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aboutHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(224, 167, 94, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  z-index: 1;
}
.aboutHeader > * {
  position: relative;
  z-index: 2;
}
